body {
  background-image: linear-gradient(#E5D9F2,#F5EFFF,#CDC1FF,#A594F9);
  padding: 10px;
}
h1 {
text-align: center;
font-family: "Pixelify Sans", sans-serif;
transition: transform 2s ease 0.1s;
}
p{
  font-family: "Playfair Display", serif;
}
h1:hover{
transform:skew(30deg,20deg);
}